 .home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 520px;
    margin: 30px 10px;
}

.home h2{
    font-weight: bold;
}

.home p{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.rightSide{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rightSide .img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.rightSide h2{
    font-size: 1.5em;
    margin-top: 20px;
}

.leftSide{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.leftSide h2{
    font-size: 2em;
    word-spacing: 2px;
}

.leftSide p{
    margin: 10px 0px 20px 0px;
    width: 80%;
}

@media screen and (max-width: 850px){
    .home{
        flex-direction: column;
    }

    .rightSide{
        margin-top: 50px;
        border-bottom: 1px dashed #43B7F9;
    }

    .rightSide .img{
        width: 200px;
        height: 200px;
    }

    .rightSide p{
        margin-bottom: 50px;
    }

    .leftSide{
        margin-top: 50px;
    }

}



