.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #43B7F9;
}

.header div{
    margin: 25px 20px;
}

.header div a{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #43B7F9;
    text-shadow: 0 1px 5px #43b6f990;  
}

.header a{
    color: #fff;
}

.menu_responsive{
    display: none;
}

@media screen and (max-width: 850px) {
    .header{
        margin-bottom: 10px;
    }

    .header div{
        margin: 0;
    }

    .header div a{
        padding-left: 20px;
    }

    .menu_responsive{
        display: flex;
    }
}